<header class="masthead" style="background-image: url('/assets/img/tours/header_pic.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Cheers to life...</h1>
          <span class="subheading">The roads keep calling me </span>
          <span class="subheading">&</span>
          <span class="subheading">Sometimes, I put down the map and get wonderfully lost</span>
        </div>
      </div>
    </div>
  </div>
</header>


<section>
  <div class="container wow fadeInUp">
    <h2 class="post-title"> &gt; tours of my life <span class="blink_me">_</span></h2>
    <div class="row country-card">
      <div class="col-md-4 mt-5">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/img/tours/thailand/01.jpg" alt="Card image cap" />
          <div class="card-body border-top text-center">
            <img class="card-img-top img-fluid h-300" src="../../../assets/img/tours/countries/thailand.svg" alt="Thailand" />
            <h4 class="card-title text-center">Thailand</h4>
            <button type="button" class="btn btn-outline-light btn-sm" [routerLink]="['/tourdetails']" [queryParams]="{countryName:'Thailand', countryCode: 'Th'}">Explore</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/img/tours/india/01.jpg" alt="Card image cap" />
          <div class="card-body border-top text-center">
            <img class="card-img-top img-fluid h-300" src="../../../assets/img/tours/countries/india.svg" alt="India"/>
            <h4 class="card-title">India</h4>
            <button type="button" class="btn btn-outline-light btn-sm" [routerLink]="['/tourdetails']" [queryParams]="{countryName:'India', countryCode: 'In'}">Explore</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/img/tours/bangladesh/01.jpg" alt="Card image cap" />
          <div class="card-body border-top text-center">
            <img class="card-img-top img-fluid h-300" src="../../../assets/img/tours/countries/bangladesh.svg" alt="Bangladesh" />
            <h4 class="card-title">Bangladesh</h4>
            <button type="button" class="btn btn-outline-light btn-sm" [routerLink]="['/tourdetails']" [queryParams]="{countryName:'Bangladesh', countryCode: 'BD'}">Explore</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- <section class="gallery-block cards-gallery">
  <div class="container">
      <div class="heading">
        <h2>Checkout My Tours</h2>
      </div>
      <div class="row">
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="../../../assets/img/tours/image1.jpg">
                  <img src="../../../assets/img/tours/image1.jpg" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
        <a class="lightbox" href="../img/image2.jpg">
                  <img src="../../../assets/img/tours/image2.jpg" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="../img/image3.jpg">
                  <img src="../../../assets/img/tours/image3.jpg" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="../img/image4.jpg">
                  <img src="../../../assets/img/tours/image4.jpg" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="../img/image5.jpg">
                  <img src="../../../assets/img/tours/image5.jpg" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" href="../img/image6.jpg">
                  <img src="../../../assets/img/tours/image6.jpg" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->
