<header class="masthead" style="background-image: url('/assets/img/tours/header_pic.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <span class="subheading">The roads keep calling me... </span>
        </div>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container wow fadeInUp">
    <h2 class="post-title"> &gt; tours of my life <span class="blink_me">_</span></h2>
    <div class="row country-card">
      <div class="col-md-4 mt-5">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/img/tours/thailand/01.jpg" alt="Card image cap" />
          <div class="card-body border-top text-center">
            <img class="card-img-top img-fluid h-300" src="../../../assets/img/tours/countries/thailand.svg" alt="Thailand" />
            <h4 class="card-title text-center">Thailand</h4>
            <button type="button" class="btn btn-outline-light btn-sm" [routerLink]="['/tourdetails']" [queryParams]="{countryName:'Thailand', countryCode: 'Th'}">Explore</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/img/tours/india/01.jpg" alt="Card image cap" />
          <div class="card-body border-top text-center">
            <img class="card-img-top img-fluid h-300" src="../../../assets/img/tours/countries/india.svg" alt="India"/>
            <h4 class="card-title">India</h4>
            <button type="button" class="btn btn-outline-light btn-sm" [routerLink]="['/tourdetails']" [queryParams]="{countryName:'India', countryCode: 'In'}">Explore</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../../assets/img/tours/bangladesh/01.jpg" alt="Card image cap" />
          <div class="card-body border-top text-center">
            <img class="card-img-top img-fluid h-300" src="../../../assets/img/tours/countries/bangladesh.svg" alt="Bangladesh" />
            <h4 class="card-title">Bangladesh</h4>
            <button type="button" class="btn btn-outline-light btn-sm" [routerLink]="['/tourdetails']" [queryParams]="{countryName:'Bangladesh', countryCode: 'Bd'}">Explore</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>