<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center footer-link">
          <li class="list-inline-item">
            <a target="_blank" href="https://www.linkedin.com/in/biswajitpanday/">
              <span class="s_link">linkedin</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://www.instagram.com/biswajit.panday/">
              <span class="s_link">instagram</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://stackoverflow.com/users/2923956/biswajit-panday">
              <span class="s_link">stackoverflow</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://twitter.com/biswajitpanday">
              <span class="s_link">twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://www.facebook.com/pandayisawesome">
              <span class="s_link">facebook</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://www.youtube.com/channel/UCtyh_8Ma5UTAscp3espLtcQ">
              <span class="s_link">youtube</span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; Biswajit Panday 2018</p>
      </div>
    </div>
  </div>
</footer>
