<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center footer-link">
          <li class="list-inline-item">
            <a target="_blank" href="https://www.linkedin.com/in/biswajitpanday/" rel="noopener noreferrer">
              <span class="s_link">linkedin</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://www.instagram.com/biswajit.panday/" rel="noopener noreferrer">
              <span class="s_link">instagram</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://github.com/biswajitpanday" rel="noopener noreferrer">
              <span class="s_link">github</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://stackoverflow.com/users/2923956/biswajit-panday?tab=profile"
              rel="noopener noreferrer">
              <span class="s_link">stackoverflow</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://twitter.com/biswajitpanday" rel="noopener noreferrer">
              <span class="s_link">twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://www.facebook.com/bpanday033" rel="noopener noreferrer">
              <span class="s_link">facebook</span>
            </a>
          </li>
        </ul>
        <p class="copyright text-muted">Copyright &copy; Biswajit Panday 2023-2024</p>
      </div>
    </div>
  </div>
</footer>