.post-details-img {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}

.img-center {
    display:block;
    margin:auto;
}