<header class="masthead" style="background-image: url('/assets/img/timeline_cover.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <span class="subheading">Career Timeline</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-title"> &gt; work experiences <span class="blink_me">_</span></h2>
                <div class="timeline-centered mt-5">
                    <article class="timeline-entry" *ngFor="let timeline of timelineList">
                        <div class="timeline-entry-inner">
                            <time class="timeline-time"><span>{{timeline.designation}}</span>
                                <span>{{timeline.joiningDate | date: 'MMMM yyyy'}} - {{timeline.isCurrentlyWorking ?
                                    'Present' : timeline.leavingDate | date: 'MMMM yyyy'}}
                                </span></time>
                            <div class="timeline-icon bg-secondary">
                                <i class="entypo-feather"></i>
                            </div>
                            <div class="timeline-label">
                                <h2>{{timeline.organizationName}} <small class="float-md-right float-sm-left"><i
                                            class="fa fa-map-marker" aria-hidden="true"></i>
                                        {{timeline.organizationCityMine}}, {{timeline.organizationCountryMine}}</small>
                                </h2>
                                <ul class="job-description">
                                    <li *ngFor="let responsibility of timeline.responsibilities">
                                        {{responsibility}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>