<header class="masthead" style="background-image: url('/assets/img/cover_pic.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>"Hello, World!"</h1>
          <span class="subheading">I'm Panday, Biswajit Panday.</span>
        </div>
      </div>
    </div>
  </div>
</header>
  
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <h2 class="post-title"> &gt; a bit about me <span class="blink_me">_</span></h2>
        <p>My name is Biswajit Panday. I’m a lifelong programmer. Currently working as a Software Engineer at KAZ Software Ltd. I live in Dhaka, Bangladesh.</p>
      </div>
      <hr>

      <div class="post-preview">
        <h2 class="post-title"> &gt; my random facts <span class="blink_me">_</span></h2>
        <p>I love to drink tea but i drink coffee sometimes...<br/>
          I do travel a lot when i'm free...<br/>
          I quit smoking... started vaping...<br/>
          I like hills...<br/>
          I like nights...<br/>
          I drink beer... <br/>
          I like riding bikes...<br/>
          I like "Real Book" (not facebook), but i have one...<br/>
          I see the world with my own lens (not with some camera lens)...</p>
      </div>
      <hr>

      <div class="post-preview">
        <h2 class="post-title"> &gt; my focus <span class="blink_me">_</span></h2>
        <span class="caption text-muted">As a preface, I'm still learning and will be...</span>
        <p>I've always looking for the opportunities and challenges that are meaningful to me. As a software engineer, 
          I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world.
          As a software engineer I work both on web and mobile platforms. Usually specialized in web and android development. Spend the last 4 years for developing
          skills in ASP.NET, Angularjs and Javascript. Concurrently for the last 2 years developing android applications using Java and have some previous experience 
          on Xamarin.
        </p>
      </div>
      <hr>
  </div>
</div>