<header class="masthead" style="background-image: url('/assets/img/cover_pic.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>About Me</h1>
          <span class="subheading">I'm not unlucky in love, I'm just extremely good at being single!</span>
        </div>
      </div>
    </div>
  </div>
</header>
  
<!-- Main Content -->
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <h2 class="post-title"> &gt; a bad man <span class="blink_me">_</span></h2>
          <p class="text-justify">About me ................</p>
          <p>I am so clever that sometimes I don't understand a single word of what I am saying.</p>
        </div>
        <hr>

        <div class="post-preview">
          <h2 class="post-title"> &gt; what I really Do <span class="blink_me">_</span></h2>
          <p class="text-justify">Professional Description, What i know, What i can do, In what i am good,  for living. </p>
        </div>
        <hr>
  
        <div class="post-preview">
          <h2 class="post-title"> &gt; dreams <span class="blink_me">_</span></h2>
          <p class="text-justify">About a product development, dreams, about bike trip, about tour plans</p>
        </div>
        <hr>

        <div class="post-preview">
            <h2 class="post-title"> &gt; what i am <span class="blink_me">_</span></h2>
            <p>I am who I am: Your approval isn't needed!</p>
            <p>I'm not afraid of failing, which is why I do it all the time!</p>
            <p class="text-justify">what i have got so far, as achivements, friends, family, respects etc.</p>
          </div>
          <hr>

        <div class="post-preview">
          <h2 class="post-title"> &gt; what i have <span class="blink_me">_</span></h2>
          <p>I have travel plans, but my bank balance can't keep up with them.</p>
          <p class="text-justify">what i have got so far, as achivements, friends, family, respects etc.</p>
        </div>
        <hr>

        <div class="post-preview">
          <h2 class="post-title"> &gt; what's missing <span class="blink_me">_</span></h2>
          <span class="caption text-muted">Go away...! I am perfect :P</span>
          <p class="text-justify">what i am not...</p>
        </div>
        <hr>

        <div class="post-preview">
          <h2 class="post-title"> &gt; Some Quotes that drives me <span class="blink_me">_</span></h2>
          <blockquote>Let me be me. Because once I change, you will miss the 'me' in me.</blockquote>
          <blockquote>Be real with me, or just leave me alone.</blockquote>
          <blockquote>Do one thing everyday that scares you.</blockquote>
          <blockquote>A bit mystery is badly required to live life.</blockquote>
          <blockquote>Take me as I am, or watch me as I go.</blockquote>
          <blockquote>Life is like riding a motorcycle - to keep balance, one must keep moving.</blockquote>
          <blockquote class="text-justify">what i am not...</blockquote>
        </div>
        <hr>
    </div>
  </div>